.pizza1{
  font-size: 12px;
  color: red;
  font-family: "Courier New", Times, Serif;
}

.pizza2{
  color:blue;
  text-transform: uppercase;
}

div p{
  color:purple;
  font-size:20px;
}

div img{
  background-color: blue;
  margin: 10px 10px 0px 0px;
  border: orange 5px dashed;
  padding:10px 10px 10px 10px;
  position:relative;
  height:100px;
  width:200px;
}

h1, h2{
  color: violet;
}

ol{
  color:green;
  font-family:"Arial", Times, Serif;
  font-style: italic;
}

.pizza3{
  font-size: 15px;
}
