.box{
  margin: 5px 20px 10px 20px;
  border: purple 1px dashed;
  padding: 150px 5px 5px 5px;
  font-family:"Courier New"; Times, serif;
}

div p{
  text-align:center;
  font-size:10px;
}

.text{
  text-align:center;
  font-size:7px;
  color:green;
  font-weight:bold;
}

.anothertext{
  text-align:left;
  font-size:15px;
  color:orange;
}

.more{
  vertical-align: super;
  color: red;
}

.moretext{
color:purple;
font-size:5px;
text-align:right;
}

.yellow{
  text-transform:uppercase;
  color:yellow;
  font-style:italic;
}
