.header{
  background-color:red;
  text-align:center;
  color:white;
  font-size:10px;
  position:relative;
  height:50px;
  width:750px;
}

.leftside{
  background-color:green;
  position:fixed;
  left:0px;
  flex:50%;
  height:600px;
  width:100%;
}

p{
  text-align:left;
  color:white;
  font-size:10px;
}

.footer{
  background-color:blue;
  position:fixed;
  top:90%;
  left:0px;
  bottom:10px;
  Width:100%;
  color:white;
  text-align:center;
}
