#wrapper{
    width:100%;
    height:1000px:
    margin: 0 auto;
}

#header{
  position:absolute;
    width: 100%;
    height: 200px;
    left:8px;
    right:15px;
    background-color: pink;
    margin: 0 auto;
    border: LimeGreen 5px solid;

}

#Candy1{
  position:absolute;
  left:10px;
  width: 150px;
  height: 150px;
  margin: 10px 10px 0px 0px;
  padding:10px 10px 10px 10px;

}

#Candy2{
  position:absolute;
  right:5px;
  width: 150px;
  height:150px;
  margin: 10px 10px 0px 0px;
  padding:10px 10px 10px 10px;
  float:right;

}

#title{
  position:absolute;
   top: 40px;
   left: 350px;
   color:LightSeaGreen;
   font-family: "Fantasy", serif;
   font-size: 70px;
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
}

#motto{
  position: absolute;
  top: 125px;
  left: 420px;
  color: LightSeaGreen;
  font-family:fantasy;
  font-size: 25px;
  text-align:center;
  margin: 0 auto;

}

body{
  background-color: pink;
  margin: 0 auto;
}

.leftside{
  position:absolute;
  width: 200px;
  top: 300px;
  left: 8px;
  background:pink;
  overflow-x: hidden;
  padding:10px 0;
  border: LimeGreen 5px solid;

}

.left a {
  padding: 40px 10px 50px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: LightSeaGreen;
  display:block;
  text-align: center;
}

/* Hover selector was learnt through https://www.w3schools.com/cssref/sel_hover.asp*/
.left a:hover{
  background-color:LimeGreen;
}

#facebook{
  width:30px;
  height:30px;
  padding:14px;

}

#instagram{
  width:30px;
  height:30px;
  padding:14px;
}

#twitter{
  width:30px;
  height:30px;
  padding:14px;
}

 .straight{
  float:left;
  display:inline;
  margin: auto 0;
  padding: 100px 8px 8px 10px;
}

#prompt1{
  position:absolute;
  top:220px;
  bottom: 200px;
  left: 10px;
  color: LimeGreen;
  font-size: 20px;
  font-family: arial;
}


h2{
    font-size: 30px;
    color:LightSeaGreen;
    font-family:arial;
    text-align: center;
  }


#content{
    position:absolute;
    top:280px;
    bottom: 200px;
    left: 300px;
    right: 10px;
    text-align: left;
  }

#must{
      color:LimeGreen;
      font-style: italic;
      font-family: arial;
    }

p{
  font-family:arial;
}

#ideas{
    color:LimeGreen;
    font-weight: bold;
    font-family:arial;
}

#candies{
  font-size:12px;
  text-align: center;
}

#month{
  font-style: italic;
  color:red;
  font-weight: bold;
  font-size: 18px;
}

#choco1{
  position:absolute;
  top:260px;
  text-align:center;
  font-size: 20px;
  width:200px;
  height:200px;

}


#peanutbutter{
  position:absolute;
  top:330px;
  left:30px;
  width:160px;
  height:160px;

}

#reeses{
  position:absolute;
  top:200px;
  left: 300px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}


#des1{
  position:absolute;
  top:480px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#link1{
  position:absolute;
  top:700px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}


#cane{
  position:absolute;
  top:200px;
  left: 650px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

#cc{
  position:absolute;
  top:260px;
  text-align:center;
  font-size: 20px;
  width:200px;
  height:200px;
}

#red{
  position:absolute;
  top:330px;
  left:30px;
  width:160px;
  height:160px;
}

#xmas{
  position:absolute;
  top:480px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#link2{
  position:absolute;
  top:700px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}


#pez{
  position:absolute;
  top:200px;
  left: 1000px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

#pez1{
  position:absolute;
  top:260px;
  text-align:center;
  font-size: 20px;
  width:200px;
  height:200px;
}

#pez2{
  position:absolute;
  top:330px;
  left:30px;
  width:160px;
  height:160px;
}

#pez3{
  position:absolute;
  top:480px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#pez4{
  position:absolute;
  top:700px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#JollyRancher{
  position:absolute;
  top:520px;
  left: 300px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

#jr{
  position:absolute;
  top:480px;
  text-align:center;
  font-size: 20px;
  width:200px;
  height:200px;
}

#jr1{
  position:absolute;
  top:520px;
  left:30px;
  width:160px;
  height:160px;
}

#jr2{
  position:absolute;
  top:680px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#jr3{
  position:absolute;
  top:940px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}


#marz{
  position:absolute;
  top:520px;
  left:650px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

#marz1{
  position:absolute;
  top:480px;
  text-align:center;
  font-size: 20px;
  width:200px;
  height:200px;
}

#marz2{
  position:absolute;
  top:520px;
  left:30px;
  width:160px;
  height:160px;
}

#marz3{
  position:absolute;
  top:680px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#marz4{
  position:absolute;
  top:940px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#kor{
  position:absolute;
  top:730px;
  left: 1000px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

#kor1{
  position:absolute;
  top:270px;
  text-align:center;
  font-size: 20px;
  width:200px;
  height:200px;
}

#kor2{
  position:absolute;
  top:310px;
  left:30px;
  width:160px;
  height:160px;
}

#kor3{
  position:absolute;
  top:470px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#kor4{
  position:absolute;
  top:730px;
  left:20px;
  width:200px;
  height:200px;
  text-align: left;
  font-family: arial;
}

#link{
  position:absolute;
  top:1700px;
  left:300px;
  color:LightSeaGreen;

}

.copyright{
  position:absolute;
  top:1800px;
  text-align: center;
  font-family: arial;
  font-size: 12px;
  border: LimeGreen 5px solid;
}
